# Terraform files to ignore
*.tfstate
*.tfstate.*
*.tfplan
*.backup
*.tfvars
backend-variables.hcl
.terraform/
.terraform.lock.hcl
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl  # Optional: Keep if you want deterministic providers

# Optional: IDE and OS files
.vscode/
.idea/
.DS_Store
